[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Hardware implementation of control algorithm for three phase voltage inverters. Implemented using Verilog and MATLAB. Tested with an implemented power circuit.
[access "refs/*"]
	owner = group user/Aditya Govardhan (AdityaGovardhan)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Aditya Govardhan (AdityaGovardhan)
	label-Verified = -1..+1 group user/Aditya Govardhan (AdityaGovardhan)
	push = group user/Aditya Govardhan (AdityaGovardhan)
	read = group user/Aditya Govardhan (AdityaGovardhan)
	rebase = group user/Aditya Govardhan (AdityaGovardhan)
	removeReviewer = group user/Aditya Govardhan (AdityaGovardhan)
	submit = group user/Aditya Govardhan (AdityaGovardhan)
[access "refs/heads/*"]
	create = group user/Aditya Govardhan (AdityaGovardhan)
	push = +force group user/Aditya Govardhan (AdityaGovardhan)
	pushMerge = group user/Aditya Govardhan (AdityaGovardhan)
	read = group user/Aditya Govardhan (AdityaGovardhan)
[access "refs/tags/*"]
	push = group user/Aditya Govardhan (AdityaGovardhan)
	push = +force group user/Aditya Govardhan (AdityaGovardhan)
